# Core ML/AI packages
torch>=2.0.0
ultralytics>=8.0.0

# Image processing
opencv-python>=4.8.0
numpy>=1.21.0
pymupdf
scipy
rapidfuzz
jdeskew

# Configuration and utilities
pyyaml>=6.0

# Table Structure Recognition model
git+https://github.com/huggingface/transformers.git
timm
matplotlib
Pillow
pytesseract
